@charset "utf-8";
*{
    font-family: Microsoft YaHei,Helvetica,san-serif,Arial;
    /*font-size: 16px;*/
}

em,i,b,h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
}
body{
	background:  url(../img/bg.png);;
}


.navbar{
	margin-bottom: 0px;
}
.navbar-header  span{
	font-size: 1.4em;
	color: #B1DCFF;
	margin: 10px;
}

.container-fluid ul{
	margin-top: 10px;
	width: calc( 100% - 180px );
	float: right;
}
.container-fluid ul li{
	background: #354C6C;
	width: 8%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	min-width: 80px;
	margin:  8px;
	font-size: 1.2em;
	color: #FFF;
	padding: 0 10px;
}

.container-fluid ul li:nth-child(2) span{ color: #48C8D0 ; }
.container-fluid ul li:nth-child(3) span{ color: #FFC57A ; }
.container-fluid ul li:nth-child(4) span{ color: #F8FC3F ;}
.container-fluid ul li:nth-child(5) { float: right;}
.container-fluid ul li:nth-child(6) { float: right;}

.container-fluid ul li.active {border: 1px solid #fff ; }
.container-fluid ul li:nth-child(2).active { border: 1px solid #48C8D0 ; }
.container-fluid ul li:nth-child(3).active { border: 1px solid #FFC57A ; }
.container-fluid ul li:nth-child(4).active { border: 1px solid #F8FC3F ; }

hr{
	width: 100%;
	margin: 0;
	background: #2E404A;
	border-top: 2px solid #2E404A;
}


.list-title{
	padding: 15px 15px 15px 30px;
	color: #B1DBFE;
	font-size: 1.2em;
	text-align: left;
}
.list-number{
	padding: 15px;
	color: #B1DBFE;
	font-size: 1.2em;
	text-align: left;
}
.list-name{
	padding: 15px;
	color: #fff;
}
.list-name ul li{
	padding: 2px 10px;
}

.row ul li{
	padding: 2px 4px;
}

.row-div div:nth-child(1){
	background: #1B3A53;
	text-align: center;
	border:1px solid #fff;
	padding: 2px;
}

.row-div1 div:nth-child(1) {
	padding: 2px;
	background: #1B3A53;
	text-align: center;
	border:1px solid #00DCDE;
	color: #00DCDE;
}
.row-div1 ul li {
	color: #00DCDE;
} 

.row-div2 div:nth-child(1) {
	padding: 2px;
	background: #1B3A53;
	text-align: center;
	border:1px solid #FFC57A;
	color: #FFC57A;
}
.row-div2 ul li {
	color: #FFC57A;
} 

.row-div3 div:nth-child(1) {
	padding: 2px;
	background: #1B3A53;
	text-align: center;
	border:1px solid #F8FC3F;
	color: #F8FC3F;
}
.row-div3 ul li {
	color: #F8FC3F;
} 

.list-region{
	padding: 5px 15px 15px 0;
	text-align: right;
	color: #BFDCED;
	font-size: 1.2em;
}

.list-region-name{
	padding: 5px 15px;
    color: #fff;
    border-bottom: 2px solid #2E404A;
}

.list-region-name1{
	padding: 5px 15px;
    color: #fff;
    /*border-bottom: 2px solid #2E404A;;*/
}
