@charset "utf-8";
* {
    font-family: Microsoft YaHei,Helvetica,san-serif,Arial;
    font-size: 16px;
    margin:0;
    padding:0;
}

body {
	background-image: url(../img/bg.png);
	color: #fff;
}

ul li {
	list-style-type: none;
	float: left;
}

.title{
	border-bottom: 2px solid #2E404A;
	display: inline-block;
	width: 100%;
	/*padding: 10px;*/
}
.title h3 {
	padding: 10px;
	font-size: 1.4em;
	margin-left: 1%;
	float: left;
}
.title-btn {
	padding: 10px;
	/*width: 50%;*/
	margin-left: 5%;
	float: left;
}
.title-btn ul li {
	padding: 8px 20px;
	background: #354C6C;
	margin-right: 10px;
	border-radius: 5px;
	text-align: center;
}
.title-btn  ul li:nth-child(1) span{ color: #F8FC3F ;}
.title-btn  ul li:nth-child(2) span{ color: #48C8D0 ; }
.title-btn  ul li:nth-child(3) span{ color: #FFC57A ; }


.title-btn  ul li.active {border: 1px solid #fff ; }
.title-btn  ul li:nth-child(1).active { border: 1px solid #F8FC3F ; }
.title-btn  ul li:nth-child(2).active { border: 1px solid #48C8D0 ; }
.title-btn  ul li:nth-child(3).active { border: 1px solid #FFC57A ; }

.title-btn1 {
	padding: 10px;
	float: right;
	margin-right: 1%;
}
.title-btn1 ul li {
	padding: 8px 20px;
	background: #354C6C;
	margin-right: 10px;
	border-radius: 5px;
	text-align: center;
}
.content {
	border-bottom: 2px solid #2E404A;
	display: inline-block;
	width: 100%;
}
.content div{
	float: left;
	/*padding: 10px;*/
	font-size: 1.1em;
}

.content ul li {
	padding: 0 5px 5px;
}

.content-title {
	margin-left: 1%;
	width: 8%;
	color: #B1DBFE;
}
.content-number {
	width: 5%;
	color: #B1DBFE;
	font-size: .8em !important;
}
.content-name {
	width: calc(100% - 17% );
}

.content-name1 {
	width: calc(100% - 17% );
	float: left;
}
.content-name1 ul {
	margin-left: 6%;
}
.content-name1-span {
	float: left;
	padding: 1px 8px;
    background: #354C6C;
    border:1px solid #fff;;
    border-radius: 5px;
}